<div class="ecart--header">
    <div class="ecart-logo">
        <!-- <img src="images/logo.jpeg"> -->
        AdutuCartu
    </div>
    <div class="ecart--header--nav">
        <div class="ecart--top--bar">
            <a href="#">Help</a>
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <a href="#">SignUp / Login</a>
        </div>
        <div class="ecart--bottom--bar">
            <div class="ecart-menu">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="ecart--search-bar">
                <input type="text" class="ecart-search-box" placeholder="Search">
                <button class="ecart--search--btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>